html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}
body,
input {
	font-family:"Champagne &amp; Limousines" !important;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -130px;
}

/* Set the fixed height of the footer here */
#push{
	margin-bottom:150px;
}

#footer {
	padding-top:20px;
	padding-bottom: 20px;
	height: auto;
	margin-top:20px;
}
#footer {
	background-color: #0085c6;
}

#footer h5,
#footer p {
	color: #ffffff;
}
#footer .social {
	float: right;
	margin-top: 5%;
}
#footer .social li{
	list-style: none;
	float: left;
	margin: 0px 10px 0px 10px;
}
#footer .social img {
	width: 50px;
	height: 50px;
	opacity: .8;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	 	    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
#footer .social .fb img {
	background-color: #0d004c;
}
#footer .social .tw img {
	background-color: #00ffff;
}
#footer .social .gp img {
	background-color: #ffffff;
}
#footer .social img:hover {
	opacity: 1;
}

.body {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@font-face {
	font-family:"Champagne &amp; Limousines";
	src:url("../font/Champagne_Limousines.eot?") format("eot"),
	url("../font/Champagne_Limousines.woff") format("woff"),
	url("../font/Champagne_Limousines.ttf") format("truetype"),
	url("../font/Champagne_Limousines.svg#Champagne&Limousines") format("svg");
	font-weight:normal;
	font-style:normal;
}

a.brand img {
	margin-left: 13px;
	margin-bottom: 5px;
}
.navbar .nav {
	font-size: 20px;
	padding-top: 20px;
}

.navbar .nav > li > a:hover {
	background-color: #363636;
}

.navbar .brand,
.navbar .nav a {
	color: #ffffff !important;
}

.navbar .container{
	padding-bottom:20px;
}
.navbar-search input {
	margin-top: 15px;
	width: 170px !important;
}
.thumbnail a {
	text-align: center;
}
.thumbnail img {
	opacity: .8;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.thumbnail img:hover {
	opacity: 1;
}
.caption p,
.carousel-caption p{
	font-weight: bold;
	font-size: 18px;
}
.berita p{
	font-weight: bold;
	font-size: 15px;
	text-align: justify;
}
.menteri-visimisi,
.beasiswa-home,
.gallery-home,
.sert-home {
	margin-top: 25px;
	margin-bottom: 25px;
}
.home-title {
	width: 120px;
	height: 35px;
	background-image: url("../img/bg-title.jpg");
	background-size: 100%;
	margin-bottom: 20px;
}
.home-title p{
	padding-left: 5px;
	padding-top: 5px;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
}

.menteri {
	background-color: #448ccb;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	 	    border-radius: 20px;
}

.menteri p{
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
}
.visimisi p,
.beasiswa-desc p,
.sert p {
	text-indent: 30px;
	font-size: medium;
	font-weight: bold;
	text-align: justify;
}
.row-top {
	margin-bottom: 25px;
}
.four-thumbnails .col-centered{
	text-align: center !important;
}
.berita {
	background-color: #acacac;
	height: 96px;
	margin-top: 10px;
}
.berita .thumbnail {
	margin: 5px;
}
.berita .thumbnail img {
	height: 88px;
	width: 88px;
}
.berita h4,
.berita p {
	margin-left: 5px;
	margin-right: 5px;
	color: #FFFFFF
}

.beasiswa-img img,
.sert-img img {
	width: 170px;
	height: 170px;
}


.beasiswa-img,
.sert-img{
	background-color: #6dd0f7;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	 	    border-radius: 20px;
}
.row-news {
	float: right !important;
	margin-right: 15px !important;
}
.row-news .col-sm-8 {
	padding: 0px;
}
/*.isi{
	margin:10px 5px 5px 0px;
}

.isi p{
	text-align:justify;
}*/

[class*="col-"]{
	vertical-align:center;
}
