html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}
body,
input {
	font-family:"Champagne &amp; Limousines" !important;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -190px;
}

/* Set the fixed height of the footer here */
#push{
	margin-bottom:190px;
}

#footer {
	padding-top:20px;
	padding-bottom:20px;
	height: auto;
	margin-top:20px;
}
#footer {
	background-color: #0085c6;
}

#footer h4,
#footer p {
	color: #ffffff;
}
#footer p{
	font-size: 16px;
}
.body {
	margin-top: 10px;
	margin-bottom: 10px;
}
.scrollup {
	background-image: url('../img/top.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0;
}

#ticker {
color: #fff;
width: auto;
list-style: none;
height: 25px;
overflow: hidden;
border-radius: 3px;
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125,126,125,1)), color-stop(100%, rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* W3C */
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@font-face {
	font-family:"Champagne &amp; Limousines";
	src:url("../font/Champagne_Limousines.eot?") format("eot"),
	url("../font/Champagne_Limousines.woff") format("woff"),
	url("../font/Champagne_Limousines.ttf") format("truetype"),
	url("../font/Champagne_Limousines.svg#Champagne&Limousines") format("svg");
	font-weight:normal;
	font-style:normal;
}

.brand{
	margin-right:30px;
}
.brand p{
	margin-left:-15px;
}
a.brand img {
	margin-left: 13px;
	margin-bottom: 5px;
}
.navbar .nav {
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar .nav > li > a:hover {
	background-color: #363636;
}

.navbar .brand,
.navbar .nav a {
	color: #ffffff !important;
}

.navbar .container{
	padding-bottom:0px;
}
.navbar-search input {
	margin-top: 5px;
	width: 170px !important;
}
.thumbnail a {
	text-align: center;
}
.thumbnail img {
	opacity: .8;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.thumbnail img:hover {
	opacity: 1;
}
.caption p,
.carousel-caption p{
	font-weight: bold;
	font-size: 18px;
}
.berita p{
	font-weight: bold;
	font-size: 15px;
	text-align: justify;
}
.menteri-visimisi,
.beasiswa-home,
.gallery-home,
.sert-home {
	margin-top: 25px;
	margin-bottom: 25px;
}
.home-title {
	width: 120px;
	height: 35px;
	background-image: url("../img/bg-title.jpg");
	background-size: 100%;
	margin-bottom: 20px;
}
.home-title p{
	padding-left: 5px;
	padding-top: 5px;
	font-size: 20px;
	color: #ffffff;
	font-weight: bold;
}

.menteri {
	background-color: #448ccb;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	 	    border-radius: 20px;
}
.menteri h3 {
	text-align: center;
	color: #ffffff;
}
.menteri p{
	color: #ffffff;
	font-size: 18px;
	margin: 10px;
}
.menteri span{
	font-weight: bold;
}
.visimisi p{
	font-size: medium;
	font-weight: bold;
	text-align: justify;
}
.beasiswa-desc p,
.sert p {
	text-indent: 30px;
	font-size: medium;
	font-weight: bold;
	text-align: justify;
}
.row-top {
	margin-bottom: 25px;
}
.four-thumbnails .col-centered{
	text-align: center !important;
}
.berita {
	background-color: #acacac;
	height: 96px;
	margin-top: 10px;
}
.berita .thumbnail {
	margin: 5px;
}
.berita .thumbnail img {
	height: 88px;
	width: 88px;
}
.berita h4,
.berita p {
	margin-left: 5px;
	margin-right: 5px;
	color: #FFFFFF
}

.beasiswa-img img,
.sert-img img {
	width: 170px;
	height: 170px;
}


.beasiswa-img,
.sert-img{
	background-color: #6dd0f7;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	 	    border-radius: 20px;
}
.row-news {
	float: right !important;
	margin-right: 15px !important;
}
.row-news .col-sm-8 {
	padding: 0px;
}
[class*="col-"]{
	vertical-align:center;
}

/*error404 dan error500*/

@font-face {
    font-family: 'goudy-old-styleoldstylenormal';
    src: url('../font/goudyo-webfont.eot');
    src: url('../font/goudyo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/goudyo-webfont.woff2') format('woff2'),
         url('../font/goudyo-webfont.woff') format('woff'),
         url('../font/goudyo-webfont.ttf') format('truetype'),
         url('../font/goudyo-webfont.svg#goudy-old-styleoldstylenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sakkal_majallaregular';
    src: url('../font/majalla-webfont.eot');
    src: url('../font/majalla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/majalla-webfont.woff2') format('woff2'),
         url('../font/majalla-webfont.woff') format('woff'),
         url('../font/majalla-webfont.ttf') format('truetype'),
         url('../font/majalla-webfont.svg#sakkal_majallaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.top-logo {
	padding: 2% 10%;
	text-align: center;
}

.top-logo p {
	margin-top: 20px;
	font-size:20px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'goudy-old-styleoldstylenormal';
}
.top-logo img {
	width: 7%;
}

.isi{
	background-color:#0073B9;
	padding: 2% 10%;
}

.err {
	margin-top: 15px;
}
.err h3{
	font-size:80px;
	color:#ffffff;
	padding-bottom: 70px;
	font-family: 'goudy-old-styleoldstylenormal';
	text-shadow: 5px 5px 5px #000;
}

.err h5{
	font-size:100px;
	color:#ffffff;
	font-family: 'goudy-old-styleoldstylenormal';
	text-shadow: 5px 5px 5px #000;
}

.divid{vertical-align:center;}

.ket p{
	font-size:50px;
	color:#ffffff;
	line-height:80px;
	text-align:left;
	font-family: 'sakkal_majallaregular';
	text-shadow: 5px 5px 5px #000;
	font-weight: bold;
}

/*gallery*/
.gallery-row .col-xs-10 {
	padding: 1%;
}

.breadcrumb > li + li:before{
	color:#CCCCCC;
	content:"/ ";
	padding: 0 5px;
}

.terkait{
	margin:20px 0 50px 0;
}

img{
	text-align:center;
}
.media p{
	text-align:justify;
}
.media img{
	width:100px;
	height:auto;
}